.container{
  width: 100%;
background: lightgrey;
}


.row{
  width: 1170px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left

}
.bg-grey{
  background: lightgrey;
}
.leftcolumn, .rightcolumn{
  float: left;
  width: 50%;
}

#firstcontainer img {
  height: 100px;
}


#secondcontainer .leftcolumn, #secondcontainer .centralcolumn, #secondcontainer .rightcolumn{
  width: 33%;
height: auto;
float: left;
padding-top: 20px;
padding-bottom: 20px;
}
.clear{
  clear:both;
}
#secondcontainer img{
  height: 100px;
}

#thirstcontainer .central{
  width: 100%;
height: auto;
float: left;
margin-bottom: 10px;
}
#thirstcontainer img{
  height: 100px;
}

@media screen and (max-width: 480px){
  .leftcolumn, .rightcolumn{
    float: left;
    width: 100%;
  }
  #secondcontainer .leftcolumn, #secondcontainer .centralcolumn, #secondcontainer .rightcolumn{
    width: 100%;
  height: auto;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  }


}

 *{
   box-sizing: border-box;
   margin:0;
   padding: 0;
 }
